<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' type='text/css' href="styles/stylesheet.css">
  <script src = "https://code.jquery.com/jquery-2.1.4.js"></script>

</head>
  <h1 style="color: blue">Thermostat</h1>

  <div id="temp"></div>
  <button id="up">Up</button>
  <button id="down">Down</button>
  <input type="checkbox" id="toggle" checked>Powersave</input>
  <br></br>
  <div id="currentCity"></div>
  <div id="cityWeather"></div>

  <form id="cityId">
    <input type="text" name="city" id="cityName">
    <input type="submit" value="Submit">
  </form>
<body>

<script type="text/JavaScript" src="scripts/thermostat.js"></script>
<script type="text/JavaScript" src="scripts/app.js"></script>

<!-- ANY REFERENCE TO DOCS IN SINTRA WILL AUTOMATICALLY BE LOOKED FOR IN THE PUBLIC FOLDER. -->
</body>
</html>
